<section id="about" class="">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h2>Herald Bearers</h2>
                <div class="row">
                    <div class="col-xs-12 text-center" data-scrollreveal="enter from the left over 1.1s after 0.2s">

                            <img class="img-thumbnail" src="{{ relative }}assets/images/bearers/bearers.jpg" alt="Example Image">

                        <br>
                        <h3>Ryan & Caden Gill</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <p class="text-left">Ryan will be age 9 and Caden will be age 5 at the time of our wedding. We are very close with them and they are both cousins of Anita. When Ryan was told that Anita was getting married, he initially was very upset, thinking he would lose her. But when he learned instead of losing Anita, he was gaining a new boy cousin Adam to play video games and Legos with, he immediately got excited vs. sad. We are happy to include them in our ceremony as the herald bearers that will announce the entrance of the bride and exit of the happy couple after the ceremony.</p>
            </div>
        </div>
    </div>
</section>