<section id="features" class="wrap plain">
    <div class="container pad">
        <div class="row">
            <div class="col-xs-12">
                <div class="row">
                    <h2>MAID OF HONOR</h2>
                    <div class="col-md-4" data-scrollreveal="enter from the left over 1.1s after 0.2s">
                        <div class="overlay">
                            <img class="img-responsive" src="http://placehold.it/350x250">
                        </div>
                        <h3>Jennifer Johnson</h3>
                    </div>
                    <div class="col-md-8" data-scrollreveal="enter from the right over 1.1s after 0.2s">
                        <p class="text-left">I've known Jennifer since my sophomore year of high school, when we both had 7th period off. She was hanging with our mutual friend Torey on the steps, and I said "I like your tube top." From there we went on a joint venture to 7-11 to get beef jerky sticks and Slurpee's, and we have been BFF's ever since. Her family has also taken me in and made me one of their own, and I consider her mother Josie a mom to me as well, which makes Jennifer almost a true sister. Considering we talk and sound exactly alike, we might as well be. ;-) Her dogs, Coco and Kaya, are also super adorable and fluffy and I enjoy being an auntie to them. (Although Coco and I get along a bit better, he is a ladies dog after all.) I just decided I’m going to talk about everyone’s pets on here too, because they are friends of mine as well.</p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<section id="about" class="wrap light">
    <div class="container pad">
        <div class="row">
            <div class="col-xs-12">
                <div class="row">
                    <h2>BEST MAN</h2>
                    <div class="col-md-4" data-scrollreveal="enter from the left over 1.1s after 0.2s">
                            <img class="img-responsive" src="http://placehold.it/350x250">
                        <h3>Kevin Biberacher</h3>
                    </div>
                    <div class="col-md-8" data-scrollreveal="enter from the right over 1.1s after 0.2s">
                        <p class="text-left"><br/>Kevin is one of my best friends that I met and lived with during my college and post college years. We initially met when he became “guy who is crashing on our couch for a while”, which shortly transformed to our roommate and good friend.  We lived together for a cumulative total of over 6 years and I just can’t say enough good things about the guy. He is always fun to hang out with and we have enjoyed many good times together whether it’s an out of the country surf trip, an Iron Maiden or Danzig show, or just getting together for a couple beers and some laughs. I am honored that he will be up there for me on the big day.</p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>