<section id="features" class="wrap plain">
    <div class="container pad">
        <div class="row">
            <div class="col-xs-12">
                <div class="row">
                    <h2>MAID OF HONOR</h2>
                    <div class="col-md-4" data-scrollreveal="enter from the left over 1.1s after 0.2s">
                        <div class="overlay">
                            <img src="http://placehold.it/350x250">
                        </div>
                        <h3>Jennifer Johnson</h3>
                    </div>
                    <div class="col-md-8" data-scrollreveal="enter from the right over 1.1s after 0.2s">
                        <p class="text-left">I've known Jennifer since my sophomore year of high school, when we both had 7th period off. She was hanging with our mutual friend Torey on the steps, and I said "I like your tube top." From there we went on a joint venture to 7-11 to get beef jerky sticks and Slurpee's, and we have been BFF's ever since. Her family has also taken me in and made me one of their own, and I consider her mother Josie a mom to me as well, which makes Jennifer almost a true sister. Considering we talk and sound exactly alike, we might as well be. ;-) Her dogs, Coco and Kaya, are also super adorable and fluffy and I enjoy being an auntie to them. (Although Coco and I get along a bit better, he is a ladies dog after all.) I just decided I’m going to talk about everyone’s pets on here too, because they are friends of mine as well.</p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<section id="about" class="wrap light">
    <div class="container pad">
        <div class="row">
            <div class="col-xs-12">
                <h2>BRIDESMAIDS</h2>
                <div class="row">
                    <div class="col-md-3 about-item" data-scrollreveal="enter from the left over 1.1s after 0.2s">
                        <div class="overlay">
                            <img src="http://placehold.it/265x265" alt="Example Image">
                        </div>
                        <h3>Jennifer Bolen</h3>
                        <p class="text-left">Jennifer (AKA “Jenbo”) is one of my best friends that I've known since Jr. High. We share similar backgrounds, horrible/ amazing senses of humor, and a love of all things gnomes, Disneyland, and wacky adventure. One of the best experiences of my life was traveling through Japan with her. I can't imagine my life without her in it. She is amazing at letting me vent, making jokes that crack me up, and also making me cry with her big heart. She is essential to me in this "journey". Her cat, Marwhisker Hargitay, is my cuddle partner when I visit her in LA.</p>
                    </div>
                    <div class="col-md-3 about-item" data-scrollreveal="enter from the left over 1.1s after 0.2s">
                        <div class="overlay">
                            <img src="http://placehold.it/265x265" alt="Example Image">
                        </div>
                        <h3>Kat Gunsur</h3>
                        <p class="text-left">Kat is one of my oldest friends in San Diego. She cheers on and trains people for marathons, competes in triathlons and is a certified IRON WOMAN. I’m hoping she will utilize these strengths and keep me on the right motivational path when dealing with the stresses of planning a wedding. ;-) She is honestly one of the most positive people I know, and is the person that literally SCREAMED over the phone when I called to tell her Adam and I were engaged. She also cried when I asked her to be one of my bridesmaids. I loved ALL these amazing dramatic reactions. She is also another crazy cat lady with her cats Megatron and Bumblebee, so we share that, which is cool.</p>
                    </div>
                    <div class="col-md-3 about-item" data-scrollreveal="enter from the left over 1.1s after 0.2s">
                        <div class="overlay">
                            <img src="http://placehold.it/265x265" alt="Example Image">
                        </div>
                        <h3>Lauren Thornton-Brown</h3>
                        <p class="text-left">Lauren is the girl with the biggest heart you will ever meet, hands down, ever. Her and I have had multiple wine nights where we talk for hours with amazing heart to hearts. She is also basically a living breathing Pinterest board of amazingness, and has “gilded” almost every surface of her apartment in gold paint. Her cat, Shadow, is also a crazy wildcat she saved from the mean streets of Diego.</p>
                    </div>
                    <div class="col-md-3 about-item" data-scrollreveal="enter from the left over 1.1s after 0.2s">
                        <div class="overlay">
                            <img src="http://placehold.it/265x265" alt="Example Image">
                        </div>
                        <h3>Maritza Rodriguez</h3>
                        <p class="text-left">I met Maritza in Chico through Jennifer Johnson, where we met and drank pitchers of Sierra Nevada beer together. After that she became my roommate when she moved to San Diego. Not only was she a fantastic roommate, but she is a great beer drinking buddy, neighbor, happy hour experimenter, fashion expert, beauty advice guru, animal lover, picnic partner, and wedding advice person. Her dog, Roxy, is not a fan of my cat Sonny, and vice versa. But that doesn’t stop us from being BFF’s despite this obstacle.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>