<section id="features" class="wrap plain">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h2>BRIDESMAIDS</h2>
                <div class="row">
                    <div class="col-md-3 about-item" data-scrollreveal="enter from the left over 1.1s after 0.2s">
                        <div class="">
                            <img class="img-responsive" src="{{ relative }}assets/images/bridesmaids/JenniferBolen.jpg" alt="Example Image">
                        </div>
                        <h3>Jennifer Bolen</h3>
                        <p class="text-left">Jennifer (AKA “Jenbo”) is one of my best friends that I've known since Jr. High. We share similar backgrounds, horrible/ amazing senses of humor, and a love of all things gnomes, Disneyland, and wacky adventure. One of the best experiences of my life was traveling through Japan with her. I can't imagine my life without her in it. She is amazing at letting me vent, making jokes that crack me up, and also making me cry with her big heart. She is essential to me in this "journey". Her cat, Marwhisker Hargitay, is my cuddle partner when I visit her.</p>
                    </div>
                    <div class="col-md-3 about-item" data-scrollreveal="enter from the left over 1.1s after 0.2s">
                        <div class="">
                            <img class="img-responsive" src="{{ relative }}assets/images/bridesmaids/KatGunsur.jpg" alt="Example Image">
                        </div>
                        <h3>Kat Gunsur</h3>
                        <p class="text-left">Kat is one of my oldest friends in San Diego. She cheers on and trains people for marathons, competes in triathlons and is a certified IRON WOMAN. She is honestly one of the most positive people I know, and is the person that literally SCREAMED over the phone when I called to tell her Adam and I were engaged. She also cried when I asked her to be one of my bridesmaids. I loved ALL these amazing dramatic reactions. She is also another crazy cat lady with her cats Megatron and Bumblebee, so we share that, which is cool.</p>
                    </div>
                    <div class="col-md-3 about-item" data-scrollreveal="enter from the left over 1.1s after 0.2s">
                        <div class="">
                            <img class="img-responsive" src="{{ relative }}assets/images/bridesmaids/Lauren.png" alt="Example Image">
                        </div>
                        <h3>Lauren Thornton-Brown</h3>
                        <p class="text-left">Lauren is the girl with the biggest heart you will ever meet, hands down, ever. Her and I have had multiple wine nights where we talk for hours with amazing heart to hearts. She is also basically a living breathing Pinterest board of amazingness, and has “gilded” almost every surface of her apartment in gold paint. Her cat, Shadow, is also a crazy wildcat she saved from the mean streets of Diego.</p>
                    </div>
                    <div class="col-md-3 about-item" data-scrollreveal="enter from the left over 1.1s after 0.2s">
                        <div class="">
                            <img class="img-responsive" src="{{ relative }}assets/images/bridesmaids/Maritza.jpg" alt="Example Image">
                        </div>
                        <h3>Maritza Rodriguez</h3>
                        <p class="text-left">I met Maritza in Chico through Jennifer Johnson, where we met and drank pitchers of Sierra Nevada beer together. After that she became my roommate when she moved to San Diego. Not only was she a fantastic roommate, but she is a great beer drinking buddy, neighbor, happy hour experimenter, fashion expert, beauty advice guru, animal lover, picnic partner, and wedding advice person. Her dog, Roxy, is not a fan of my cat Sonny, and vice versa. But that doesn’t stop us from being BFF’s despite this obstacle.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="about" class="wrap light">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h2>GROOMSMEN</h2>
                <div class="row">
                    <div class="col-md-3 about-item" data-scrollreveal="enter from the right over 1.1s after 0.2s">
                        <div class="">
                            <img class="img-responsive" src="{{ relative }}assets/images/groomsmen/Robert.jpg" alt="Example Image">
                        </div>
                        <h3>Robert Callahan</h3>
                        <p class="text-left">Bobby, as I still call him, is also one of my oldest and best friends I have known since middle school. We grew up surfing and playing volleyball together. Although he now lives in Northern California and I don’t get to see him as much as I would like, he is still one of my best friends and when we do get together, we can pick up right where we left off.</p>
                    </div>
                    <div class="col-md-3 about-item" data-scrollreveal="enter from the right over 1.1s after 0.2s">
                        <div class="">
                            <img class="img-responsive" src="{{ relative }}assets/images/groomsmen/Jon.jpg" alt="Example Image">
                        </div>
                        <h3>Jon Haystead</h3>
                        <p class="text-left">Jon is one of my oldest and best friends that I have actually known since middle school, but we became pretty close friends in our high school years. Jon went to UC Irvine, and when I decided to transfer to CSULB, it made perfect sense for us to become roommates. We lived together for over 3 years in Huntington Beach during college and had some great times. Jon is a good friend, an excellent father, and one of the most intelligent guys I know.</p>
                    </div>
                    <div class="col-md-3 about-item" data-scrollreveal="enter from the right over 1.1s after 0.2s">
                        <div class="">
                            <img class="img-responsive" src="{{ relative }}assets/images/groomsmen/BradWorkman.jpg" alt="Example Image">
                        </div>
                        <h3>Brad Workman</h3>
                        <p class="text-left">I have known Brad for about 20 years, since middle school as well. We became closer friends during college, as San Diego was just a short trip from Huntington and vice versa, and he is my most recent roommate. We always have a blast watching football, playing soccer, drinking some beers and just joking around.  He has been a good friend all this time and I am excited he has agreed to be one of my groomsmen.</p>
                    </div>
                    <div class="col-md-3 about-item" data-scrollreveal="enter from the right over 1.1s after 0.2s">
                        <div class="">
                            <img class="img-responsive" src="{{ relative }}assets/images/groomsmen/John.jpg" alt="Example Image">
                        </div>
                        <h3>John Alan Gable</h3>
                        <p class="text-left">John Alan is always fun to hang out with and I consider him a good friend.  We share many things in common, primarily the love of Road House and Football. John Alan is like a brother to Anita, so we felt it appropriate to have him up there with us on our big day (it should be mentioned his fiance is the Maid of Honor). John Alan is a good guy with a big heart and we are excited for him to be up there with us on our big day.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>