<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <p>
                    Dont forget to RSVP!
                </p>
            </div>
            <div class="col-sm-6">
                <p class="byline">Developed by Vivek Poola</a></p>
            </div>
        </div>
    </div>
</footer>

<!-- Libs -->
<script src="http://maps.google.com/maps/api/js?sensor=false&amp;libraries=geometry&amp;v=3.7"></script>
<script src="{{ relative }}assets/js/assets/jquery-1.11.0.min.js"></script>
<script src="{{ relative }}assets/js/assets/bootstrap/js/bootstrap.min.js"></script>
<!-- <script src="{{ relative }}assets/js/assets/scroll-reveal/js/scrollReveal.js"></script> -->
<script src="{{ relative }}assets/js/assets/owl-carousel/owl.carousel.min.js"></script>
<script src="{{ relative }}assets/js/assets/retina.min.js"></script>
<script src="{{ relative }}assets/js/assets/cycle2.min.js"></script>
<script src="{{ relative }}assets/js/assets/lightbox/js/lightbox-2.6.min.js"></script>
<script src="{{ relative }}assets/js/assets/placeholder.js"></script>
<script src="{{ relative }}assets/js/assets/maplace.min.js"></script>
<script src="{{ relative }}assets/js/assets/sticky.js"></script>
<script src="{{ relative }}assets/js/assets/skrollr.min.js"></script>
<script src="{{ relative }}assets/js/assets/validate.min.js"></script>

<!-- Theme Scripts -->
<script src="{{ relative }}assets/js/innovate.min.js"></script>

<!-- Your Custom JS -->
<script src="{{ relative }}assets/js/custom.js"></script>

</body>
</html>