<header id="header">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="visible-xs hidden-sm hidden-md hidden-lg">
                    <a href="#">
                        <h1 class="logo">ADAM & ANITA</h1>
                    </a>
                </div>
                <a class="nav-toggle"><i class="fa fa-bars"></i></a>
                <nav id="nav text-center">
                    <ul class="nav">
                        <li><a href="{{ relative }}index.html">HOME</a></li>
                        <li><a href="{{ relative }}story.html">OUR STORY</a></li>
                        <li><a href="{{ relative }}party.html">WEDDING PARTY</a></li>
                        <li><a href="http://www.weddingwire.com/anitaandadamrsvp" target="_blank">RSVP</a></li>
                        <li><a href="{{ relative }}info.html">GUEST INFO</a></li>
                        <li><a href="{{ relative }}registry.html">REGISTRY</a></li>
                        <li><a href="{{ relative }}contact.html">CONTACT US</a></li>
                    </ul>
                </nav>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</header>