<header id="header">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <a href="#">
                    <h1 class="logo">ADAM & ANITA</h1>
                </a>
                <a class="nav-toggle"><i class="fa fa-bars"></i></a>
                <nav id="nav">
                    <ul class="nav">
                        <li><a href="index.html">HOME</a></li>
                        <li><a href="story.html">OUR STORY</a></li>
                        <li><a href="party.html">WEDDING PARTY</a></li>
                        <li><a href="http://www.weddingwire.com/anitaandadamrsvp">RSVP</a></li>
                        <li><a href="info.html">GUEST INFO</a></li>
                        <li><a href="registry.html">REGISTRY</a></li>
                        <li><a href="contact.html">CONTACT US</a></li>
                    </ul>
                </nav>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</header>