<section id="about" class="wrap light">
    <div class="container pad">
        <div class="row">
            <div class="col-xs-12">

                    <h3>Contact Us</h3>
                    <div class="row">
                        <div class="col-xs-12 text-center">
                            <p>If you wish to contact Anita or Adam, you may do so by emailing them:</p>
                                <ul>
                                    <li>Anita: <a href="mailto:aef622@gmail.com">aef622@gmail.com</a></li>
                                    <li>Adam: <a href="mailto:adamcoggshall@yahoo.com">adamcoggshall@yahoo.com</a></li>
                                </ul>
                        </div>
                    </div>

                </div>


            </div>
        </div>
    </div>
</section>