<section id="contact" class="wrap pattern">
    <div class="container pad">
        <div class="row">
            <div class="col-xs-12">

                    <h3>Contact Us</h3>
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3">
                            <p>If you wish to contact Anita or Adam, you may do so by emailing them:</p>
                                <ul>
                                    <li>Anita: aef622@gmail.com</li>
                                    <li>Adam: adamcoggshall@yahoo.com</li>
                                </ul>
                        </div>
                    </div>

                </div>


            </div>
        </div>
    </div>
</section>