<section id="about" class="wrap light">
	<div class="container pad">
		<div class="row">
			<div class="col-xs-12 text-center">
				<p>While your gift is not necessary, if you choose to contribute to our future life together, we would be very grateful!</p>
			</div>
		</div>
		<div class="hidden-xs">
			<div class="row">
				<div class="col-sm-6 text-right">
					<a href= "http://www1.macys.com/registry/wedding/guest/?registryId=6116303" target="_blank"><img class="img-thumbnail" src="{{ relative }}assets/images/registry/macy.jpg"></a>
				</div>
				<div class="col-sm-6 text-left">
					<a href="http://www.bedbathandbeyond.com/store/giftregistry/view_registry_guest.jsp?registryId=293836206&eventType=Wedding&pwsurl=?mcid=EM_triggeredem_emailregistryplural__allpromos" target="_blank"><img class="img-thumbnail" src="{{ relative }}assets/images/registry/bed.jpg"></a>
				</div>
			</div>
		</div>
		<div class="visible-xs">
			<div class="row">
				<div class="col-xs-12 text-center">
					<a href= "http://www1.macys.com/registry/wedding/guest/?registryId=6116303" target="_blank"><img class="img-thumbnail" src="{{ relative }}assets/images/registry/macy.jpg"></a>
				</div>
				<div class="col-xs-12 text-center">
					<a href="http://www.bedbathandbeyond.com/store/giftregistry/view_registry_guest.jsp?registryId=293836206&eventType=Wedding&pwsurl=?mcid=EM_triggeredem_emailregistryplural__allpromos" target="_blank"><img class="img-thumbnail" src="{{ relative }}assets/images/registry/bed.jpg"></a>
				</div>
			</div>
		</div>
	</div>
</section>