<section id="about" class="wrap light">
	<div class="container pad">
		<div class="row">
			<div class="col-xs-12 text-center">
				<p>While your gift is not necessary, if you choose to contribute to our future life together, we would be very grateful!</p>
			</div>
		</div>
		<div class="hidden-xs">
			<div class="row">
				<div class="col-sm-6 text-right">
					<img class="img-thumbnail" src="http://placehold.it/350x250">
				</div>
				<div class="col-sm-6 text-left">
					<img class="img-thumbnail" src="http://placehold.it/350x250">
				</div>
			</div>
		</div>
		<div class="visible-xs">
			<div class="row">
				<div class="col-xs-12 text-center">
					<img class="img-thumbnail" src="http://placehold.it/350x250">
				</div>
				<div class="col-xs-12 text-center">
					<img class="img-thumbnail" src="http://placehold.it/350x250">
				</div>
			</div>
		</div>
	</div>
</section>