<section id="features" class="wrap plain">
    <div class="container pad">
        <div class="row">
            <div class="col-xs-12">
                <h2>FEATURES</h2>
                <p class="details">Unde laudantium earum harum nobis aliquam nesciunt accusantium.</p>
                <br>
                <div class="row">
                    <a href="#" class="feature">
                        <div class="col-md-4" data-scrollreveal="enter from the bottom over 1.1s after 0.1s">
                            <div class="i-overlay">
                                <i class="fa fa-keyboard-o"></i>
                            </div>
                            <h3>CLEAN CODE</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque, incidunt, cum suscipit ducimus animi odio aliquid voluptatum obcaecati et aspernatur.</p>
                        </div>
                    </a>
                    <a href="#" class="feature">
                        <div class="col-md-4" data-scrollreveal="enter from the bottom over 1.1s after 0.3s">
                            <div class="i-overlay">
                                <i class="fa fa-lightbulb-o"></i>
                            </div>
                            <h3>CREATIVE DESIGN</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque, incidunt, cum suscipit ducimus animi odio aliquid voluptatum obcaecati et aspernatur.</p>
                        </div>
                    </a>
                    <a href="#" class="feature">
                        <div class="col-md-4" data-scrollreveal="enter from the bottom over 1.1s after 0.5s">
                            <div class="i-overlay">
                                <i class="fa fa-heart-o"></i>
                            </div>
                            <h3>BUILT <span>with</span> LOVE</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque, incidunt, cum suscipit ducimus animi odio aliquid voluptatum obcaecati et aspernatur.</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="about" class="wrap light">
    <div class="container pad">
        <div class="row">
            <div class="col-xs-12">
                <h2>TEAM</h2>
                <p class="details">We want to help the world be a better place by helping one person at a time.</p>
                <div class="row">
                    <div class="col-md-3 col-md-offset-2 about-item" data-scrollreveal="enter from the left over 1.1s after 0.2s">
                        <div class="overlay">
                            <img src="http://placehold.it/265x265" alt="Example Image">
                            <a href="#">
                                <div class="overlay-board">
                                    <span class="btn btn-overlay"><i class="fa fa-cloud-download"></i> Resume</span>
                                </div>
                            </a>
                        </div>
                        <br>
                        <h3>RACHEL McADAMS</h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make.</p>
                        <p class="social">
                            <a href="#"><i class="fa fa-twitter"></i></a> <a href="#"><i class="fa fa-facebook"></i></a> <a href="#"><i class="fa fa-instagram"></i></a> <a href="#"><i class="fa fa-pinterest"></i></a>
                        </p>
                    </div>
                    <div class="col-md-3 col-md-offset-2" data-scrollreveal="enter from the right over 1.1s after 0.4s">
                        <div class="overlay">
                            <img src="http://placehold.it/265x265" alt="Example Image">
                            <a href="#">
                                <div class="overlay-board">
                                    <span class="btn btn-overlay"><i class="fa fa-envelope"></i> Email</span>
                                </div>

                            </a>
                        </div>
                        <br>
                        <h3>JUSTIN CASE</h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make.</p>
                        <p class="social">
                            <a href="#"><i class="fa fa-linkedin"></i></a> <a href="#"><i class="fa fa-facebook"></i></a> <a href="#"><i class="fa fa-instagram"></i></a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="gallery" class="wrap dark">
    <div class="container pad">
        <div class="row">
            <div class="col-xs-12">
                <h2>GALLERY</h2>
                <p class="details">Hover actions have two variations. Pick the one that suits you project best.</p>

                <div id="items" class="row">
                    <div class="col-xs-3" data-scrollreveal="enter from the bottom over 1.1s">
                         <div class="overlay">
                            <img src="http://placehold.it/500x325" alt="Example Image">
                            <a href="http://placehold.it/500x325" data-lightbox="example-set">
                                <div class="overlay-board sm">
                                    <i class="fa fa-arrows-alt"></i>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-xs-3 visible-lg" data-scrollreveal="enter from the top over 1.1s after 0.2s">
                         <div class="overlay">
                            <img src="http://placehold.it/500x325" alt="Example Image">
                            <a href="http://placehold.it/500x325" data-lightbox="example-set">
                                <div class="overlay-board sm">
                                    <i class="fa fa-search"></i>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-xs-3 visible-lg" data-scrollreveal="enter from the bottom over 1.1s after 0.4s">
                         <div class="overlay">
                            <img src="http://placehold.it/500x325" alt="Example Image">
                            <a href="http://placehold.it/500x325" data-lightbox="example-set">
                                <div class="overlay-board sm">
                                    <i class="fa fa-thumbs-up"></i>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-xs-3" data-scrollreveal="enter from the top over 1.1s after 0.6s">
                         <div class="overlay">
                            <img src="http://placehold.it/500x325" alt="Example Image">
                            <a href="http://placehold.it/500x325" data-lightbox="example-set">
                                <div class="overlay-board sm">
                                    <i class="fa fa-comment"></i>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="col-xs-3 visible-lg" data-scrollreveal="enter from the bottom over 1.1s">
                         <div class="overlay">
                            <img src="http://placehold.it/500x325" alt="Example Image">
                            <a href="http://placehold.it/500x325" data-lightbox="example-set">
                                <div class="overlay-board">
                                    <span class="btn btn-overlay icon-only"><i class="fa fa-arrows-alt"></i></span>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-xs-3" data-scrollreveal="enter from the top over 1.1s after 0.2s">
                         <div class="overlay">
                            <img src="http://placehold.it/500x325" alt="Example Image">
                            <a href="http://placehold.it/500x325" data-lightbox="example-set">
                                <div class="overlay-board">
                                    <span class="btn btn-overlay icon-only"><i class="fa fa-search"></i></span>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-xs-3" data-scrollreveal="enter from the bottom over 1.1s after 0.4s">
                         <div class="overlay">
                            <img src="http://placehold.it/500x325" alt="Example Image">
                            <a href="http://placehold.it/500x325" data-lightbox="example-set">
                                <div class="overlay-board">
                                    <span class="btn btn-overlay icon-only"><i class="fa fa-thumbs-up"></i></span>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-xs-3 visible-lg" data-scrollreveal="enter from the top over 1.1s after 0.6s">
                         <div class="overlay">
                            <img src="http://placehold.it/500x325" alt="Example Image">
                            <a href="http://placehold.it/500x325" data-lightbox="example-set">
                                <div class="overlay-board">
                                    <span class="btn btn-overlay icon-only"><i class="fa fa-comment"></i></span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<section id="clients" class="wrap parallax"  data-0="background-position:0px 10%;" data-end="background-position:0px -200%;">
    <div class="static-overlay"></div>
    <div class="container pad">
        <div class="row">
            <div class="col-xs-12">
                <h2>CLIENTS</h2>
                <p class="details">Here are some of our satisfied clients from over our many years in business.</p>
                <div class="client-list">
                    <i data-toggle="tooltip" title="Dribbble" class="fa fa-dribbble"></i>
                    <i data-toggle="tooltip" title="Xing"  class="fa fa-xing"></i>
                    <i data-toggle="tooltip" title="Linux"  class="fa fa-linux"></i>
                    <i data-toggle="tooltip" title="Stack Overflow"  class="fa fa-stack-overflow"></i>
                    <i data-toggle="tooltip" title="Weibo"  class="fa fa-weibo"></i>
                    <i data-toggle="tooltip" title="MaxCDN"  class="fa fa-maxcdn"></i>
                    <i data-toggle="tooltip" title="ADN"  class="fa fa-adn"></i>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="blog" class="wrap plain">
    <div class="container pad">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <h2>BLOG</h2>
                <p class="details">You can easily place any Font Awesome Font in the hover action.</p>

                <div id="carousel" class="owl-carousel">
                    <div class="col-xs-12">
                        <div class="overlay">
                            <img src="http://placehold.it/500x325" alt="Example Image">
                            <a href="post.html">
                                <div class="overlay-board">
                                    <i class="fa fa-search"></i>
                                </div>
                            </a>
                        </div>
                        <h3>Join Our Creative Workshops</h3>
                        <p class="date">Feb. 21, 2013</p>
                    </div>
                    <div class="col-xs-12">
                        <div class="overlay">
                            <img src="http://placehold.it/500x325" alt="Example Image">
                            <a href="post.html">
                                <div class="overlay-board">
                                    <i class="fa fa-thumbs-o-up"></i>
                                </div>
                            </a>
                        </div>
                        <h3>Hack-a-thon Tips &amp; Tricks</h3>
                        <p class="date">Feb. 2, 2013</p>
                    </div>
                    <div class="col-xs-12">
                        <div class="overlay">
                            <img src="http://placehold.it/500x325" alt="Example Image">
                            <a href="post.html">
                                <div class="overlay-board">
                                    <i class="fa fa-lightbulb-o"></i>
                                </div>
                            </a>
                        </div>
                        <h3>The Keys to Oranization</h3>
                        <p class="date">Feb. 21, 2013</p>
                    </div>
                    <div class="col-xs-12">
                        <div class="overlay">
                            <img src="http://placehold.it/500x325" alt="Example Image">
                            <a href="post.html">
                                <div class="overlay-board">
                                    <i class="fa fa-thumbs-o-up"></i>
                                </div>
                            </a>
                        </div>
                        <h3>New Tech. Old Tech.</h3>
                        <p class="date">Feb. 2, 2013</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<section id="contact" class="wrap pattern">
    <div class="container pad">
        <div class="row">
            <div class="col-xs-12">
                <h2 class="logo" data-scrollreveal="enter from the bottom over 1.1s after 0.2s">INN<i class="fa fa-dot-circle-o"></i>VATE</h2>
                <p class="details">We'd love to work with you. Contact us by phone, email, or whatever social site we have.</p>

                <div class="contact-details">
                    <ul>
                        <li>123 Your St., City State Country</li>
                        <li>(800) 555-5555</li>
                        <li><a href="mailto:info@innovate.com" target="_blank">info@innovate.com</a></li>
                    </ul>

                    <br>
                    <br>

                    <h3>Contact Us</h3>
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3">
                            <form action="#" role="form" id="form">
                                <div class="row">
                                    <div class="col-xs-6">
                                        <input type="text" class="form-control" placeholder="Name" name="name" id="name">
                                    </div>
                                    <div class="col-xs-6">
                                        <input type="text" class="form-control" placeholder="Email" name="email" id="email">
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <textarea class="form-control" name="comments" id="comments" rows="3" placeholder="Comments"></textarea>
                                    </div>
                                </div>

                                <br>
                                <div class="row">
                                    <div class="col-md-4 col-md-offset-4">
                                        <input class="btn btn-lg btn-success btn-block btn-form" type="submit" value="SEND">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>


            </div>
        </div>
    </div>
</section>

<section id="map">
    <div id="gmap"></div>
</section>