<section id="about" class="wrap light">
    <div class="container pad">
        <div class="row">
            <div class="col-xs-12">
                <h2 class="text-left">Dear Family & Friends,</h2>
                <p class="lead text-left"><br/>

                Welcome to our wedding website. We are so lucky to have you as a part of our lives and hope that you will be joining us as we begin our new adventure! <br>
                <br>
                As Sunday, October 5th approaches, we would like to keep everyone informed of all plans, as well as give you travel tips and helpful information for the wedding. Please check back regularly as we will be updating this website as the plans progress. You should be able to find everything you need here, and if not, please don't hesitate to contact us. <br>
                    <br>
                 We would also like to remind everyone to RSVP through the link on this website, as we opted out of traditional paper reply cards and envelopes. This not only helps save a tree or two, but allocates more of our resources to ensure a great party for our guests. <br>
                <br>
                Thank you for visiting and we look forward to celebrating with you in October! <br/>
                <br>
                Anita & Adam
                </p>
            </div>
        </div>
    </div>
</section>